*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}
body{
    background-color: rgba(128, 128, 128,0.5);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button1,#button2{
    padding: 8px 25px;
    border-radius:18px;
    margin-left: 5px;
}
#button1{
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
}
#button2{
    background-color: greenyellow;
    color: black;
    border:2px solid greenyellow;
}
.c2{
    margin-top: 50px;
    margin-left: 150px;
    background-color: rgba(128, 128, 128,0.5);
    padding: 40px 120px;
    border-radius:20px;
}
.copycode{
    margin-top: 20px;
    color: white; 
}
.copycode:hover{
    cursor: pointer;
}
#button1:hover{
    cursor: pointer;
}
#button2:hover{
    cursor: pointer;
}